# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.GI493.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Study3year\GI493\.idea\.idea.GI493\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
